.mail-layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #0b0e11;
}

.sidebar-area {
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid #1f2937;
  background-color: #0b0e11;
}

.content-area {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  background-color: #0f1115;
}