<div class="inbox-container">
  
  <div class="toolbar">
    <div class="left-tools">
      <h2 class="page-title">Inbox <span class="count-badge">{{ emails.length }}</span></h2>
    </div>
    <div class="right-tools">
      <button class="icon-btn"><i class="fa-solid fa-arrow-down-wide-short"></i> Date</button>
      <button class="icon-btn"><i class="fa-solid fa-filter"></i></button>
      <button class="icon-btn"><i class="fa-solid fa-rotate-right"></i></button>
    </div>
  </div>

  <div class="action-bar">
    <div class="checkbox-wrapper">
      <input type="checkbox" id="selectAll">
      <label for="selectAll">Select all</label>
    </div>
    <div class="actions">
      <button class="text-btn">Mark Read</button>
      <button class="text-btn">Move</button>
      <button class="text-btn danger">Delete</button>
    </div>
  </div>


  @if (isLoading) {
    <div class="loading-state">
      Loading emails...
    </div>
  } 
  @else if (errorMessage) {
    <div class="error-state">
      {{ errorMessage }}
    </div>
  } 
  @else {
    <div class="email-list">
      
      @for (email of emails; track email) {
        
        <div class="email-item">
          
          <div class="email-select">
            <input type="checkbox">
          </div>

          <div class="email-content">
            
            <div class="email-top-row">
              <span class="sender-name">{{ email.sender }}</span>
              
             <span class="email-priority">
                
             </span>
              <span class="email-time">{{ email.timestamp | date:'shortTime' }}</span>
            </div>

            <div class="email-subject">
              {{ email.subject }}
            </div>

            <div class="email-snippet">
              {{ email.body }}
            </div>

          </div>
        </div>

      } @empty {
        <div class="empty-state">
          No emails found.
        </div>
      }

    </div>
  }

  <div class="pagination">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Prev</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="changePage(1)">Next</button>
  </div>

</div>